@font-face {
	font-family: 'icomoon';
	src:url('..//fonts/icomoon.eot?-u1o2li');
	src:url('..//fonts/icomoon.eot?#iefix-u1o2li') format('embedded-opentype'),
		url('..//fonts/icomoon.woff?-u1o2li') format('woff'),
		url('..//fonts/icomoon.ttf?-u1o2li') format('truetype'),
		url('..//fonts/icomoon.svg?-u1o2li#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE605:before {
	content: "\e605";
}
.icon-googleplus:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-youtube:before {
	content: "\e603";
}
.icon-help:before {
	content: "\e604";
}
.icon-arrow-left:before {
	content: "\e606";
}
.icon-arrow-right:before {
	content: "\e607";
}
